body {
    background-color: pink;
    background-image: url(dark.jpg);
} 
.first {
    font-family: fantasy;
    margin: 30px;
    border: solid 4px cornflowerblue;
    padding: 10px;
}
.second {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 90px;
    border: groove 90px rebeccapurple;
    padding: 10px;
}
.third {
    font-family: 'Times New Roman', Times, serif;
    margin: 2px;
    border: dotted 70px greenyellow;
}
h2 {
    color: orange;
}